
.content{
	-fx-background-color: rgb(238,238,238);
}

.troncon_info{
	-fx-background-color: rgb(108,149,184);
}

.bloc_information{
	-fx-background-color: rgb(220,220,220);
	-fx-background-radius: 5 5 5 5;
}

.button-list-objects{
	-fx-background-color: rgb(74,123,165);
	-fx-background-radius: 5 0 0 0;
}

.btn-without-style{
	-fx-background-color:none;
}